.topnavinfo{
    /* top: 70px; */
    height: 140px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    background: #000;
}
    .search input {
   
        background-color: transparent;
        border: 1px solid red;
        color: white;
        border-radius: 5px;
        height: 40px;
        font-size: 16px;
        padding: 0 10px;
        &::placeholder {
          color: white;
        }
      
    
    }
    @media (max-width:600px) {
        .topnavinfo{
      flex-direction: column;
      height: 120px;
        }
    }
